
<div style = "background-image: url(<%= asset_path 'Country.jpg' %>); height: 570px; width: 1100px;">
<div class = "row4">
</div>
<div class = "row">
</div>
<div class="col-sm-1">
</div>
<div class="col-sm-6">

<h2 class = "titulo1">Oh! The places you'll go</h2>


<p style = "color:white;">We love to travel and always had trouble figuring out how to go from "A" to "B"</p>
<p style = "color:white;">So we built this site to help out</p>
<p style = "color:white;">Good luck! Misbehave! ;)</p>

</div>
